<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - AsturTravel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AsturTravel.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="margin-left:37%;">
                <a class="navbar-brand"><img src="/img/logo2.png" style="width:30px;"/></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Administración</a>
                        </li>
                       @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Destinos" asp-action="Index">Destinos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">Reservas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TiposViajes" asp-action="Index">Tipos de viaje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Viajes" asp-action="Index">Viaje</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Destacados" asp-action="Index">Carrusel</a>
                        </li>
                        
                        
                    </ul>
                   @* <partial name="_LoginPartial" />*@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position:fixed;">
        <div class="align-content-center" style="margin-left:42%;">
            <span style="font-weight:700;">2023 - AsturTravel &copy</span> -  <span style="font-weight:700;" id="telefonoCompleto"> <span><i class="fa-solid fa-square-phone" style="font-size:20px;color:#3a9962;"></i> Contacto : </span><span style="font-style:italic;"><a style="text-decoration:none;" href="tel:667570588">667570588</a></span></span>
            <span style="float:right;margin-right:20px;"><a onclick="evento()" style="cursor:pointer"><i class="fa-solid fa-calendar-days" style="color:#3a9962;"></i></a> &nbsp;&nbsp; <span id="hora"></span></span>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    const elementoHora = document.getElementById("hora");
    
       
    function actualizarHora() {
        

        var fecha = new Date();
        var dia = fecha.getDate();
        var mes = fecha.getMonth() + 1;
        var ano = fecha.getFullYear();
        var horas = fecha.getHours();
        var minutos = fecha.getMinutes();
        var segundos = fecha.getSeconds();

        if (dia < 10) {
            dia = "0" + dia;
        }
        if (mes < 10) {
            mes = "0" + mes;
        }
        if (horas < 10) {
            horas = "0" + horas;
        }
        if (minutos < 10) {
            minutos = "0" + minutos;
        }
        if(segundos < 10) {
			segundos = "0" + segundos;
		}

        var horaActual = dia + "/" + mes + "/" + ano + " - " + horas + ":" + minutos +":"+segundos;
        elementoHora.textContent = horaActual;
    }

    setInterval(actualizarHora, 1000);


</script>