@*@model AsturTravel.Models.Viajes

@{
    ViewData["Title"] = "Edit";
}
<style>
    #PrecioString{
        text-align:right;
    }
</style>

<h1>Edit</h1>

<h4>Viajes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Nombre" class="form-control" />
                    <span style="margin-left:5px;" class="input-group-text"></span>
                </div>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinoId" class="control-label"></label>
                <div class="input-group">
                    <select asp-for="DestinoId" class="form-control" asp-items="ViewBag.DestinoId">
                        <option style="text-align:center;font-style:italic;" value="-1" disabled selected>Elige un destino</option>
                    </select>
                    <span style="margin-left:5px;" class="input-group-text"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TipoViajeId" class="control-label"></label>
                <div class="input-group">
                    <select asp-for="TipoViajeId" class="form-control" asp-items="ViewBag.TipoViajeId">
                        <option style="text-align:center;font-style:italic;" value="-1" disabled selected>Elige un viaje</option>
                    </select>
                    <span style="margin-left:5px;" class="input-group-text"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="FechaSalida" class="form-control" />
                    <span style="margin-left:5px;" class="input-group-text"></span>
                </div>

                <span asp-validation-for="FechaSalida" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="FechaLlegada" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="FechaLlegada" class="form-control" />
                    <span style="margin-left:5px;" class="input-group-text"></span>
                </div>
                <span asp-validation-for="FechaLlegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioString" class="control-label"></label>
                <div class="input-group">
                    <input style="text-align:right;width:20%" asp-for="PrecioString" class="form-control" />
                    <span style="margin-left:5px;" class="input-group-text">€</span>
                </div>
            </div>
            <br />
            <div class="form-group" style="display:flex;justify-content:space-between;">
                <button type="submit" class="btn btn-success">
                    <i class="fa-solid fa-plus"></i>
                </button>

                <div>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-x" style="color: #ffffff;"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    const precioString = document.getElementById("PrecioString");
    let valorId = @Model.Id;

$(document).ready(function () {
        
		$.ajax({
			url: "/Viajes/GetPrecio",
			type: "GET",
			data: { id: valorId },
			success: function (data) {
                if(data == null){
					data = 0;
				}
                var number = String(data.precio);
                number = number.replace(".", ",");
                $("#PrecioString").val(number);
                //$('#DestinoId').val(data.destino);
                //$('#TipoViajeId').val(data.tipo);
                
			},error: function (error) {
				console.log(error);
            }
		});

        



	});
    precioString.addEventListener("keydown", () => {
        precioString.value = precioString.value.replace(".", ",");
    });
    precioString.addEventListener("keyup", () => {
        precioString.value = precioString.value.replace(".", ",");
    });


</script>*@