@model AsturTravel.Models.Reservas

@{
    ViewData["Title"] = "Edit";
}
<style>


    .card {
        background-color: #f2f2f2;
        border-color: #3a9962;
        border-width: 0.23px;
        color: #333;
        max-width: 400px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
</style>
<h1>Edit</h1>

<h4>Reservas</h4>
<hr />



<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.js"></script>  

<script>
   
</script>