@model AsturTravel.Models.Destacados

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Destacados</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="margin-left:30%;" >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ViajeId" class="control-label"></label>
                <select asp-for="ViajeId" class ="form-control" asp-items="ViewBag.ViajeId"></select>
            </div>
            <br />
            <div class="form-group" style="display:flex;justify-content:space-between;">
                <button type="submit" class="btn btn-success" id="btnSubmit">
                    <i class="fa-solid fa-plus"></i>
                </button>

                <div>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-x" style="color: #ffffff;"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>


