@model AsturTravel.Models.TiposViaje

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TiposViaje</h4>
<hr />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
