@model AsturTravel.Models.Reservas
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>


    .card {
        background-color: #f2f2f2;
        border-color: #3a9962;
        border-width: 0.23px;
        color: #333;
        max-width: 400px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
</style>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Usuario</label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId">
                    <option style="text-align:center;font-style:italic;" value="-1" disabled selected>Elige un usuario</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Viaje</label>
                <select asp-for="ViajeId" class="form-control" asp-items="ViewBag.ViajeId">
                    <option value="-1" style="text-align:center;font-style:italic;" disabled selected>Elige un viaje</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de reserva</label>
                <input asp-for="FechaReserva" class="form-control" />
                <span asp-validation-for="FechaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de reserva</label>
                <input asp-for="FechaPago" class="form-control" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCancelacion" class="control-label"></label>
                <input asp-for="FechaCancelacion" class="form-control" />
                <span asp-validation-for="FechaCancelacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div style="display:flex;">
                <div class="form-group">
                    <label class="control-label">Nº Personas</label>
                    <div class="input-group">
                        <input asp-for="NumeroPersonas" class="form-control" style="width:50px;" />
                        <span style="margin-left:5px;" class="input-group-text">Nº</span>
                    </div>
                    <span asp-validation-for="NumeroPersonas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Total</label>
                    <div class="input-group" style="margin-left:33px;">
                        <input asp-for="PrecioString" class="form-control" readonly style="width:150px;text-align:right;" />
                        <span style="margin-left:5px;" class="input-group-text">€</span>
                    </div>
                    <span asp-validation-for="PrecioString" class="text-danger"></span>
                </div>
            </div>
            <br />

            <div class="form-group" style="display:flex;justify-content:space-between;">
                <button type="submit" class="btn btn-success" id="btnSubmit">
                    <i class="fa-solid fa-plus"></i>
                </button>

                <div>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-x" style="color: #ffffff;"></i></a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-8" id="infoCliente" style="display:none">
        <div class="card">
            <h4 class="card-title">Información del Cliente</h4>
            <div class="card-body">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <div class="input-group">
                        <input type="text" style="text-align:right;" class="form-control" id="nombre" placeholder="Nombre" disabled>
                        <span style="margin-left:5px;" class="input-group-text">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="apellidos">Apellidos:</label>
                    <div class="input-group">
                        <input type="text" style="text-align:right;" class="form-control" id="apellidos" placeholder="Apellidos" disabled>
                        <span style="margin-left:5px;" class="input-group-text">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <div class="input-group">
                        <input type="email" style="text-align:right;" class="form-control" id="email" placeholder="Email" disabled />
                        <span style="margin-left:5px;" class="input-group-text"><a id="btnEmail"><i class="fa-solid fa-envelope" style="color: #3a9962;"></i></a></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <div class="input-group">
                        <input type="tel" style="text-align:right;" class="form-control" id="telefono" placeholder="Teléfono" disabled />
                        <span style="margin-left:5px;" class="input-group-text"><a id="btnLlamar"><i class="fa-solid fa-phone" style="color: #3a9962;"></i></a></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dni">DNI:</label>
                    <div class="input-group">
                        <input type="text" style="text-align:right;" class="form-control" id="dni" placeholder="DNI" disabled>
                        <span style="margin-left:5px;" class="input-group-text">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="codigo-postal">Código Postal:</label>
                    <div class="input-group">
                        <input type="text" style="text-align:right;" class="form-control" id="codigo-postal" placeholder="Código Postal" disabled>
                        <span style="margin-left:5px;" class="input-group-text">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script> 
<script src="~/js/reservas/create-reservas.js"></script>