@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card" style="padding:40px;border-radius:20px;">
    <div style="display:flex;justify-content:space-between;">
        <form id="compareForm" style="width:30%;">
            <div>
                <label for="site1">Sitio 1:</label>
                <select id="site1" name="site1" class="form-control" style="width:180px;margin-top:10px;">
                    <option value="AsturTravel">AsturTravel</option>
                    <option value="HalconViajes">HalconViajes</option>
                    <!-- Agrega más opciones de sitios si es necesario -->
                </select>
            </div>
            <div>
                <label for="site2">Sitio 2:</label>
                <select id="site2" name="site2" class="form-control" style="width:180px;margin-top:10px;">
                    <option value="AsturTravel">AsturTravel</option>
                    <option value="HalconViajes">HalconViajes</option>
                    <!-- Agrega más opciones de sitios si es necesario -->
                </select>
            </div>
            <div>
                <label for="timeRange">Rango de tiempo:</label>
                <select id="timeRange" name="timeRange" class="form-control" style="width:180px;margin-top:10px;">
                    <option value="now 1-d">Último día</option>
                    <option value="now 7-d">Última semana</option>
                    <option value="now 1-m">Último mes</option>
                    <!-- Agrega más opciones de rangos de tiempo si es necesario -->
                </select>
            </div>
            <br />
            <div>
                <button style="text-align:center;" type="button" class="btn btn-secondary" id="btnSubmit">Comparar</button>
            </div>
        </form>
        <div class="card" style="padding:40px;border-radius:20px;margin-left:30px;width:800px;">
            <div id="contenidoGoogleTrends"></div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    const site1 = document.getElementById('site1');
    const site2 = document.getElementById('site2');
    const timeRange = document.getElementById('timeRange');
    const btnSubmit = document.getElementById('btnSubmit');


    btnSubmit.addEventListener("click",()=>{

        var pagina1 = site1.value;
        var pagina2 = site2.value;
        var rango = timeRange.value;


        $.ajax({
            url: "/Home/cargarTrends",
            type: "GET",
            data: {
                site1: pagina1,
                site2: pagina2,
                timeRange: rango
            },
            success: function (response) {
                $("#contenidoGoogleTrends").html(response);
            },
            error: function (response) {
                console.log("error");
            }
        });

    });



</script>