@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vista de administrador</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="container">
        <div class="row">
            <!-- Primera columna -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1 class="card-title">DESTINOS</h1>
                        <h5 class="card-subtitle mb-2 text-muted"><a href="/destino/GetJson">destino/GetJson</a></h5>
                        <p class="card-text">Devuelve un json de todos los destinos.</p>
                        <h5 class="card-subtitle mb-2 text-muted"><a href="destino/viajesDestino/1">destino/viajesDestino/{id}</a></h5>
                        <p class="card-text">Devuelve todos los viajes que contiene un destino.</p>
                        <h5 class="card-subtitle mb-2 text-muted"><a href="destino/infoDestino/1">destino/viajesDestino/{id}</a></h5>
                        <p class="card-text">Devuelve informacion sobre un destino en conreto.</p>
                    </div>
                </div>
            </div>
            <!-- Segunda columna -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1 class="card-title">RESERVAS</h1>
                        <h5 class="card-subtitle mb-2 text-muted"><a href="reserva/GetJson">reserva/GetJson</a></h5>
                        <p class="card-text">Devuelve un json de todas las reservas.</p>
                        <h5 class="card-subtitle mb-2 text-muted"><a href="reserva/reservasUsuario/3">reserva/reservasUsuario/{id}</a></h5>
                        <p class="card-text">Obtiene todas las reservas que tiene un usuario</p>
                        <h5 class="card-subtitle mb-2 text-muted"><a href="reserva/infoReserva/1">reserva/infoReserva/{id}</a></h5>
                        <p class="card-text">Obtiene la info de una reserva a partir de su id.</p>
                    </div>
                </div>
            </div>
            <!-- Tercera columna -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1 class="card-title">TIPOS VIAJE</h1>
                        <h5 class="card-subtitle mb-2 text-muted"><a href="tiposViaje/GetJson">tiposViaje/GetJson</a></h5>
                        <p class="card-text">Devuelve un json con todos los tipos de viaje.</p>
                        <h5 class="card-subtitle mb-2 text-muted"><a href="tiposViaje/1">tiposViaje/{id}</a></h5>
                        <p class="card-text">Devuelve un json con un tipo de viaje en concreto.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Primera columna -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1 class="card-title">USUARIOS</h1>
                        <h5 class="card-subtitle mb-2 text-muted"><a href="usuario/GetJson">usuario/GetJson</a></h5>
                        <p class="card-text">Devuelve un json con todos los usuarios.</p>
                        <h5 class="card-subtitle mb-2 text-muted"><a href="usuario/3">usuario/{id}</a></h5>
                        <p class="card-text">Devuelve kson con datos de un usuario especifico.</p>
                    </div>
                </div>
            </div>
            <!-- Segunda columna -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1 class="card-title">VIAJES</h1>
                        <h5 class="card-subtitle mb-2 text-muted"><a href="viajes/GetJson">viajes/GetJson</a></h5>
                        <p class="card-text">Devuelve un json con todos los viajes.</p>
                        
                    </div>
                </div>
            </div>
            <!-- Tercera columna -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1 class="card-title">Columna 3</h1>
                        <h5 class="card-subtitle mb-2 text-muted">Subtitulo 1</h5>
                        <p class="card-text">Texto de ejemplo para subtitulo 1.</p>
                        <h5 class="card-subtitle mb-2 text-muted">Subtitulo 2</h5>
                        <p class="card-text">Texto de ejemplo para subtitulo 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
