@model AsturTravel.Models.Destinos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Destinos</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenFile" class="control-label"></label>
                <input asp-for="ImagenFile" type="file" class="form-control-file" />
                <span asp-validation-for="ImagenFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Imagen actual:</label>
                <img src="@Model.Imagen" width="200" />
            </div>
            <div class="form-group" style="margin-top:20px;">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button type="button" class="btn btn-dark" id="foto">Ampliar</button>
            </div>
        </form>

    </div>
    <div class="col-md-6" style="background-color: #f2f2f2;border-collapse: collapse;padding:20px;border-radius: 14px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);display:none;"id="verFoto">
        <img src="@Model.Imagen" alt="Imagen cargada" class="img-fluid" />
        <small class="float-end">@Model.Nombre</small>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    const foto = document.getElementById('foto');
    let display = "none";

    


    foto.addEventListener('click',() =>{
        if(display == "none"){
			document.getElementById('verFoto').style.display = "block";
			display = "block";
        }else{
            document.getElementById('verFoto').style.display = "none";
            display = "none";
        }
  
    });
</script>
